<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- <link rel="stylesheet" href="static/style.css"> -->
        <!-- {% block head %}{% endblock %} -->
        <!-- ( scripts ) -->
        <!-- {% include 'includes/scripts.html' %} -->
    </head>
    <body>
        <div id="root">
            {% include 'includes/header.html' %}

            <div class="main">
                {% block content %}{% endblock %}
            </div>

            {% include 'includes/footer.html' %}
        </div>
    </body>
</html>