{% extends '_default/index.html' %}
{% block content %}
        <!-- Page Header-->
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{data.metadata.title}}</h1>
                    {% if data.metadata.type == "post" %}
                            <span class="meta">
                                Posted by
                                <a href="#!">{{data.metadata.author}}</a>
                                on {{data.metadata.date}}
                            </span>
                        {% endif %}</div>
                    </div>
                </div>
            </div>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
{{data.metadata.content}}
                    </div>
                </div>
            </div>
        </article>
{% endblock %}
